<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coinninja.coinkeeper.debug.test">

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="28" />

    <application android:debuggable="true">
        <uses-library android:name="android.test.runner" />
    </application>

</manifest>